---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gluesys-csi
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: gluesys-csi
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "update", "patch", "create", "delete"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims/status"]
    verbs: ["update", "patch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["list", "watch", "create", "update", "patch"]
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["volumeattachments"]
    verbs: ["get", "list", "watch", "update", "patch"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "update", "patch"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["csinodes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["volumeattachments/status"]
    verbs: ["patch"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["csistoragecapacities"]
    verbs: ["get", "list", "watch", "update", "patch", "create", "delete"]
  - apiGroups: ["gms.io"]
    resources: ["logicalvolumes"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["gms.io"]
    resources: ["logicalvolumes/status"]
    verbs: ["get", "update", "patch"]
  - apiGroups: ["gms.io"]
    resources: ["logicalvolumes/finalizers"]
    verbs: ["update"]
  - apiGroups: ["gms.io"]
    resources: ["logicalvolumesnapshots"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["gms.io"]
    resources: ["logicalvolumesnapshots/status"]
    verbs: ["get", "update", "patch"]
  - apiGroups: ["gms.io"]
    resources: ["logicalvolumesnapshots/finalizers"]
    verbs: ["update"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: gluesys-csi
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
subjects:
  - kind: ServiceAccount
    name: gluesys-csi
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: gluesys-csi
  apiGroup: rbac.authorization.k8s.io
---
{{- if and .Values.rbac.pspEnabled (.Capabilities.APIVersions.Has "policy/v1beta1") }}
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: gluesys-csi
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  allowedHostPaths:
  - pathPrefix: /lib/modules
  - pathPrefix: {{ .Values.lvm.hostWritePath }}/cache
  - pathPrefix: {{ .Values.kubernetes.kubeletPath }}/plugins/{{ .Values.lvm.storageClassStub }}
  - pathPrefix: {{ .Values.lvm.hostWritePath }}/backup
  - pathPrefix: {{ .Values.lvm.hostWritePath }}/lock
  - pathPrefix: {{ .Values.kubernetes.kubeletPath }}/plugins
  - pathPrefix: {{ .Values.kubernetes.kubeletPath }}/plugins_registry
  - pathPrefix: /dev
  - pathPrefix: {{ .Values.kubernetes.kubeletPath }}/pods
  fsGroup:
    rule: RunAsAny
  hostPorts:
  - max: 0
    min: 0
  privileged: true
  runAsUser:
    rule: RunAsAny
  seLinux:
    rule: RunAsAny
  supplementalGroups:
    rule: RunAsAny
  volumes:
  - secret
  - hostPath
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: gluesys-csi
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
rules:
- apiGroups:
  - policy
  resourceNames:
  - gluesys-csi
  resources:
  - podsecuritypolicies
  verbs:
  - use
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: gluesys-csi
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: gluesys-csi
subjects:
- kind: ServiceAccount
  name: gluesys-csi
  namespace: {{ .Release.Namespace }}
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: gluesys-csi
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: gluesys-csi
  template:
    metadata:
      labels:
        app: gluesys-csi
    spec:
      imagePullSecrets:
        - name: gitlab-regcred
      serviceAccountName: gluesys-csi
{{- if .Values.tolerations.plugin }}
      tolerations:
{{ toYaml .Values.tolerations.plugin | indent 8 }}
{{- end }}
{{- if .Values.nodeSelector.plugin }}
      nodeSelector:
{{ toYaml .Values.nodeSelector.plugin | indent 8 }}
{{- end }}
      containers:
      # Controller Plugin
      - name: csi-attacher
        image: {{ .Values.sidecarImages.attacher }}
        imagePullPolicy: IfNotPresent
        args:
          - --v=5
          - --csi-address=/csi/csi.sock
        securityContext:
          readOnlyRootFilesystem: true
          privileged: true
        volumeMounts:
        - mountPath: /csi
          name: socket-dir
      - name: csi-provisioner
        image: {{ .Values.sidecarImages.provisioner }}
        imagePullPolicy: IfNotPresent
        args:
          - -v=5
          - --csi-address=/csi/csi.sock
          - --feature-gates=Topology=true
          - --node-deployment
          - --enable-capacity
          - --strict-topology
          - --retry-interval-start={{ .Values.sidecarConnectionConfigs.retryIntervalStart }}
          - --retry-interval-max={{ .Values.sidecarConnectionConfigs.retryIntervalMax }}
          - --timeout={{ .Values.sidecarConnectionConfigs.timeout }}
          # This flag passes PVC metadata (name, namespace, annotations, labels) to CSI CreateVolume call
          # Required for the preserved volume feature to read the gms.io/lv annotation from PVC
          - --extra-create-metadata=true
        env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: spec.nodeName
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.namespace
          - name: POD_NAME
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.name
        securityContext:
          readOnlyRootFilesystem: true
          privileged: true
        volumeMounts:
          - mountPath: /csi
            name: socket-dir
      - name: csi-snapshotter
        image: {{ .Values.sidecarImages.snapshotter }}
        imagePullPolicy: IfNotPresent
        args:
          - --csi-address=/csi/csi.sock
          - --retry-interval-start={{ .Values.sidecarConnectionConfigs.retryIntervalStart }}
          - --retry-interval-max={{ .Values.sidecarConnectionConfigs.retryIntervalMax }}
          - --timeout={{ .Values.sidecarConnectionConfigs.timeout }}
        securityContext:
          readOnlyRootFilesystem: true
          privileged: true
        volumeMounts:
          - mountPath: /csi
            name: socket-dir
      - name: csi-resizer
        image: {{ .Values.sidecarImages.resizer }}
        imagePullPolicy: IfNotPresent
        args:
          - -v=5
          - -csi-address=/csi/csi.sock
          - --retry-interval-start={{ .Values.sidecarConnectionConfigs.retryIntervalStart }}
          - --retry-interval-max={{ .Values.sidecarConnectionConfigs.retryIntervalMax }}
          - --timeout={{ .Values.sidecarConnectionConfigs.timeout }}
        securityContext:
          readOnlyRootFilesystem: true
          privileged: true
        volumeMounts:
          - mountPath: /csi
            name: socket-dir
      # Node Plugin
      - name: node-driver-registrar
        args:
        - --v=5
        - --csi-address=/csi/csi.sock
        - --kubelet-registration-path={{ .Values.kubernetes.kubeletPath }}/plugins/{{ .Values.lvm.storageClassStub }}/csi.sock
        env:
        - name: KUBE_NODE_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        image: {{ .Values.sidecarImages.registrar }}
        imagePullPolicy: IfNotPresent
        resources: {}
        securityContext:
          readOnlyRootFilesystem: true
          privileged: true
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /csi
          name: socket-dir
        - mountPath: {{ .Values.kubernetes.kubeletPath }}/plugins/{{ .Values.lvm.storageClassStub }}
          name: socket-dir
        - mountPath: /registration
          name: registration-dir
      - name: gluesys-csi
        args:
        - --drivername={{ .Values.lvm.driverName }}
        - --endpoint=/csi/csi.sock
        - --hostwritepath={{ .Values.lvm.hostWritePath }}
        - --nodeid=$(KUBE_NODE_NAME)
        - --storageVG={{ .Values.lvm.storageVG }}
        - --storageVIP={{ .Values.lvm.storageVIP }}
        - --storageAuth={{ .Values.lvm.storageAuth }}
        - --storagePort={{ .Values.lvm.storagePort }}
        - --storageScheme={{ .Values.lvm.storageScheme }}
        - --log-level={{ .Values.lvm.logLevel }}
        env:
        - name: KUBE_NODE_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        image: "{{ .Values.pluginImage.repository }}:{{ .Values.pluginImage.tag }}"
        imagePullPolicy: {{ .Values.pluginImage.pullPolicy }}
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /healthz
            port: healthz
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 2
          successThreshold: 1
          timeoutSeconds: 3
        ports:
        - containerPort: 9898
          name: healthz
          protocol: TCP
        resources: {}
        securityContext:
          readOnlyRootFilesystem: true
          privileged: true
        terminationMessagePath: /termination.log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /csi
          name: socket-dir
        - mountPath: {{ .Values.kubernetes.kubeletPath }}/pods
          mountPropagation: Bidirectional
          name: mountpoint-dir
        - mountPath: {{ .Values.kubernetes.kubeletPath }}/plugins
          mountPropagation: Bidirectional
          name: plugins-dir
        - mountPath: /dev
          name: dev-dir
          mountPropagation: Bidirectional
        - mountPath: /lib/modules
          name: mod-dir
        - mountPath: /etc/lvm/backup
          name: lvmbackup
          mountPropagation: Bidirectional
        - mountPath: /etc/lvm/cache
          name: lvmcache
          mountPropagation: Bidirectional
        - mountPath: /etc/lvm/archive
          name: lvmarchive
          mountPropagation: Bidirectional
        - mountPath: /run/lock/lvm
          name: lvmlock
          mountPropagation: Bidirectional
      - name: liveness-probe
        args:
        - --csi-address=/csi/csi.sock
        - --health-port=9898
        image: {{ .Values.sidecarImages.livenessprobe }}
        imagePullPolicy: IfNotPresent
        resources: {}
        securityContext:
          readOnlyRootFilesystem: true
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /csi
          name: socket-dir
      dnsPolicy: ClusterFirstWithHostNet
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - hostPath:
          path: {{ .Values.kubernetes.kubeletPath }}/plugins/{{ .Values.lvm.storageClassStub }}
          type: DirectoryOrCreate
        name: socket-dir
      - hostPath:
          path: {{ .Values.kubernetes.kubeletPath }}/pods
          type: DirectoryOrCreate
        name: mountpoint-dir
      - hostPath:
          path: {{ .Values.kubernetes.kubeletPath }}/plugins_registry
          type: Directory
        name: registration-dir
      - hostPath:
          path: {{ .Values.kubernetes.kubeletPath }}/plugins
          type: Directory
        name: plugins-dir
      - hostPath:
          path: /dev
          type: Directory
        name: dev-dir
      - hostPath:
          path: /lib/modules
        name: mod-dir
      - hostPath:
          path: {{ .Values.lvm.hostWritePath }}/backup
          type: DirectoryOrCreate
        name: lvmbackup
      - hostPath:
          path: {{ .Values.lvm.hostWritePath }}/cache
          type: DirectoryOrCreate
        name: lvmcache
      - hostPath:
          path: {{ .Values.lvm.hostWritePath }}/archive
          type: DirectoryOrCreate
        name: lvmarchive
      - hostPath:
          path: {{ .Values.lvm.hostWritePath }}/lock
          type: DirectoryOrCreate
        name: lvmlock
---
