---
{{- $volumeSnapshotClass := .Values.volumeSnapshotClasses.snapshot -}}
{{ if $volumeSnapshotClass.enabled }}
apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshotClass
metadata:
  name: {{ .Values.lvm.volumeSnapshotClassStub }}
{{- if not (empty $volumeSnapshotClass.additionalAnnotations) }}
  annotations:
    {{- $volumeSnapshotClass.additionalAnnotations | toYaml | nindent 4 -}}
{{ end }}
driver: {{ .Values.lvm.driverName }}
deletionPolicy: {{ $volumeSnapshotClass.deletionPolicy }}
{{ end }}
